<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Page</title>
 <style>
   
    .container {
      margin-left: 38%;
        font-family: Arial, sans-serif;
        text-align: center;
        width: 350px;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border: 1px solid #000;
        margin-top: 20px;
    }

    .register-title {
        text-align: center;
        color: #333;
        margin-bottom: 20px;
    }

    form {
        display: flex;
        flex-direction: column;
    }


    input {
        padding: 10px;
        margin-bottom: 15px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }

    .register-btn {
        background-color: #3498db;
        color: white;
        padding: 12px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

    .register-btn:hover {
        background-color: #2980b9;
    }

    .register {
        text-align: center;
        color: #2ecc71;
        text-decoration: none;
        font-size: 16px;
        transition: color 0.3s ease;
        margin-top: 10px;
    }

    .register:hover {
        color: #27ae60;
    }
    
</style>



</head>
<body>
    {{>navbar}}
  <h2 class="register-title">Register</h2>
  <div class="container">
  <form action="/register" method="post" class="register-form">
    <input class="register-username" type="text" id="username" name="username" placeholder="username"><br>
    <input class="register-email" type="email" id="email" name="email" placeholder="email id"><br>
    <input class="register-mobile" type="text" id="mobile-num" name="mobilenum" placeholder="mobile"><br>
    <div class="radio-container">
    <input type="radio" id="male" name="gender" value="male"><span class="radio-label">Male</span>
    <input type="radio" id="female" name="gender" value="female"> <span class="radio-label">Female</span>
    <input type="radio" id="other" name="gender" value="other"> <span class="radio-label">other</span><br>
    </div>

    <input class="register-password" type="password" id="password" name="password" placeholder="password" ><br>
    <input class="register-confirm-password" type="password" id="password" name="confirmpassword" placeholder="confirm-password" ><br>

    <input class="register-btn" type="submit" value="Register"/>
    <div>
      <span>Already have an account?</span>
      <a href="/login" class="register">login</a>
  </div>
  </form>
  </div>
</body>
</html>
